<div class="order-container">
    <div class="order-data-container" id="orderId-@Model.Id">
        <p>Дата : @Model.Date</p>
        <p>Компания : @Model.Company</p>
        <p>Пользователь : @Model.Customer</p>
        <p>Исполнитель : @Model.Minister</p>
        <p>Почта : @Model.Email</p>
    </div>
    <div class="manage-container">
        <div class="manage-pad">
            <button>Удалить</button>
            <button>Редактировать</button>
        </div>
    </div>
</div>
